.row.row-top
  .top-left
    h1 David Boureau
  .top-right
    | Paris, France<br />
    | bdavidxyz@gmail.com<br />
    | http://bdavidxyz.com<br />

.intro
  | Développeur front web, expérimenté en back, avec un fort attrait pour l'UX/UI.

h2 Expérience

.row
  .left Mar 2015 -<br />Present
  .right
    h3 Développeur web
    h4 Freelance, Paris
    ul
      li <i>Edge-Factory</i> Construction d'un prototype d'outil d'aide au pilotage stratégique pour les PME
      li <i>Livementor</i> &nbsp;&nbsp;&nbsp;&#8202;&#8202;&#8202;Développements sur la barre de recherche, le process de paiement, le responsive design
      li <i>Lumenaki</i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#8202;&#8202;Conseil en conversion et acquisition de trafic automatisé via les réseaux sociaux
      li <i>PawInc</i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#8202;&#8202;&#8202;Conseil et développement d'un POC pour définir le choix d'une stack web front-end

.row
  .left Feb 2013 -<br />Feb 2015
  .right
    h3 Consultant web front-end
    h4 SFEIR, Paris
    ul
      li <i>VALEO</i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#8202;&#8202;&#8202;Développement d'une web-app de pilotage de projets basée sur les technologies Google
      li <i>VALEO</i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#8202;&#8202;&#8202;&#8202;Formation et direction d'une équipe de 3 développeurs web front juniors en interne 
      li <i>Generali</i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#8202;&#8202;&#8202;&#8202;Internalisation de l'outillage web front end, rédaction et enregistrement de tutoriels
      li <i>France TV</i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#8202;&#8202;Conseil et audit de l'applicatif web front à destination des rédacteurs
      li <i>Sfeir</i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#8202;&#8202;Formateur inter et intra-entreprise, Javascript et AngularJS, à Paris et à l'étranger

.row
  .left Sep 2011 -<br />Feb 2013
  .right
    h3 Assurance Qualité & Scrum Master
    h4 Oberthur, Nanterre
    ul
      li Projet d’interconnexion des acteurs du NFC (communication en champ proche) pour le client VISA. 
      li Réalisation de la chaîne de build, des normes qualités; conception des tests (unitaires, integration, fonctionnels, UI, performances), développements, transmission nearshore.

.row
  .left Jan 2011 -<br />Jul 2011
  .right
    h3 Conseil en méthodes agiles & développement d'API
    h4 CitizenPlace, Paris
    ul
      li Conseil, formation et suivi sur les méthodes agiles, encadrement sur l'intégration continue
      li Développement d'API REST sur une base de données non-relationnelle

.row
  .left Dec 2007 –<br />Dec 2010
  .right
    h3 Développeur Java Web
    h4 Stepinfo, Paris
    ul
      li Développements en régie et au forfait dans différents écosystemes Java full stack


h2 Formation

.row
  .left 2000 - 2005
  .right
    h3 ESEO, Angers
    h4 Ecole d'ingénieur, groupe II
    ul
      li Spécialité : systèmes embarqués, temps réel

h2 Compétences

.row
  .left Excelle en 
  .right JavaScript, AngularJS, CSS3, SASS, Node.js, Java, Git

.row.row-smallspace
  .left Bon en
  .right Ruby on Rails, MySQL, SketchApp, Backbone.js, React/Redux

.row.row-smallspace
h3 Voir aussi mes centres d'intérêts, projets open-source et recommendations sur http://bdavidxyz.com/about/
