.row.row-top
  .top-left
    h1 David Boureau
  .top-right
    | Paris, France<br />
    | bdavidxyz@gmail.com<br />
    | http://bdavidxyz.com<br />

.intro
  | Front Web Developer, experienced in back, highly attracted to UX/UI.


h2 Experience

.row
  .left Mar 2015 -<br />Present
  .right
    h3 Web Developer
    h4 Freelance, Paris
    ul
      li <i>Edge-Factory</i> Building a prototyping tool for SMBs drive policy.
      li <i>Livementor</i> &nbsp;&nbsp;&nbsp;&#8202;&#8202;&#8202;Developing search bar, payment processing and responsive design. 
      li <i>Lumenaki</i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#8202;&#8202;Advising in automated traffic acquisition and conversion through social networks.
      li <i>PawInc</i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#8202;&#8202;&#8202;Offered Technical guidance in a POC development to choose a front end stack web. 

.row
  .left Feb 2013 -<br />Feb 2015
  .right
    h3 Web Front-End Developer
    h4 SFEIR, Paris
    ul
      li <i>VALEO</i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#8202;&#8202;&#8202;Web application control development for projects based on Google technologies. 
      li <i>VALEO</i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#8202;&#8202;&#8202;&#8202;Internal training and management of a team of 3 junior front end web developers
      li <i>Generali</i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#8202;&#8202;&#8202;&#8202;Front end web tools insourcing,  writing and recording tutorials. 
      li <i>France TV</i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#8202;&#8202;Front end web tools insourcing,  writing and recording tutorials. 
      li <i>Sfeir</i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#8202;&#8202;Inter and intra-company trainer, Javascript and AngularJS, in Paris and abroad. 

.row
  .left Jul 2011 -<br />Feb 2013
  .right
    h3 QA & Scrum Master
    h4 Oberthur, Nanterre
    ul
      li Interconnexion Project with NFC actors (Near Field Communications) for client VISA. 
      li Build chain and quality standards construction. Tests conception (unit, integration, functional, UI, specifications) , developments, nearshore transmission.

.row
  .left Jan 2011 -<br />Jun 2011
  .right
    h3 Agile Methods Guidance & API development
    h4 CitizenPlace, Paris
    ul
      li Agile methods guidance, formation and control, ongoing integration supervision.
      li REST API development on a non-relational database.

.row
  .left Dec 2007 –<br />Dec 2010
  .right
    h3 Web Java Developer
    h4 Stepinfo, Paris
    ul
      li Full-stack web developer in various context for big companies.

h2 Education

.row
  .left 2000 - 2005
  .right
    h3 ESEO, Angers, France
    h4 Engineer School
    ul
      li Speciality : embedded systems, real time.


h2 Technical Skills

.row
  .left Advanced knowledge
  .right JavaScript, AngularJS, CSS3, SASS, Node.js, Java, Git

.row.row-smallspace
  .left Good at
  .right Ruby on Rails, MySQL, SketchApp, Backbone.js, React/Redux

.row
h3 Learn more about me on bdavidxyz.com
